body {
font-size: 200%;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.col-md-3 {width: 25%;}
.col-md-8 {width: 75%;}

.topnav-right {
  float: right;
}

.current{
  background-color: lightgrey;
}

.active {
    color: blueviolet !important;
    background-color: #4F81BD;
}

.img{
      display:block; width:100%; height:auto;
}