{% extends "base.html" %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

            <title>{% block title %}{% endblock %}This is Panch's Website</title>
        {% endblock %}

    </head>
    <body>
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                    <h1>What is Python-Flask?</h1>
                    Python Flask is a web framework. It is a Python module that lets you develop web applications really
                    easily. This means that flask provides you with all of
                    the libraries tools, packages, and software and that are necessary to build a web application. In
                    fact, this web page and whole project were created
                    using Flask! Flask is known as a micro-framework due to the fact that it has very few external
                    libraries and dependencies.
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Testing With PyTest</h1>
                </div>
                <div class="col">
                    When developing with a team of other devops engineers, it is crucial that testing is in place. The
                    absolute worst thing in the devops world to do is to have one bad programmer
                    merge a branch with faulty or broken code with the main branch. What will tend to happen is everyone
                    will continue to make commits and merges after this one faulty branch. Several
                    merges later, surprise surprise, the code no longer works. even worse, they will never know whose
                    bad merge broke the source code. Lots of time and resources will be spent trying
                    to identify the problem. With testing, every single time someone tries to push their branch to the
                    master branch, their branch will have to pass tests that will ensure that the code
                    they've just written won't break the main program. This webpage has mutiple tests that can be found
                    here:
                    <ul>
                        <li><a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/simple_pages_test.py>
                            Testing Simple Pages
                        </a></li>
                        <li><a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/context_process_test.py>
                            Testing Context Processes
                        </a></li>
                        <li><a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/conftest.py>
                            Testing the configuration of the application
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Creating And Testing Simple Pages</h1>
                </div>
                <div class="col">
                    Simple pages is a structure that allows us to maintain all of the pages in a website effectively and
                    effeciently. When first approaching web development,
                    it may seem intuitive to simply create multiple html files that contain all of your content and then
                    have them pull up as the user navigates the web page.
                    However, it is much better practice to have one main base html page that "calls" or points to your
                    other pages. These other pages "extend" on your base.
                    Within your base page, you can have all of teh elements that will be common throughout your site,
                    such as a navigation bar. This is exactly how they are
                    set up on this website. One base.html files calls other html files(Git.html, Docker.html) which all
                    extend on base.html. All of these simple pages are tested
                    with the following:
                    <a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/simple_pages_test.py>
                        https://github.com/PanchV/pv243_Project1/blob/master/tests/simple_pages_test.py
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Link To Project On GitHub</h1>
                </div>
                <div class="col">
                    <a href=https://github.com/PanchV/pv243_Project1.git>
                        https://github.com/PanchV/pv243_Project1
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Link To Flask</h1>
                </div>
                <div class="col">
                    <a href=https://flask.palletsprojects.com/en/2.0.x/>
                        https://flask.palletsprojects.com/en/2.0.x/
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Flask Blueprint Documentation</h1>
                </div>
                <div class="col">
                    <a href=https://github.com/PanchV/pv243_Project1/blob/master/app/simple_pages/__init__.py>
                        https://github.com/PanchV/pv243_Project1/blob/master/app/simple_pages/__init__.py
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Flask Testing with PyTest</h1>
                </div>
                <div class="col">
                    Even though flask is an open source framework that has been tried and tested, it is still important to test it. PyTest has a built in feature known as
                    <i>fixtures</i>. This documentation shows some simple configuration tests that are run for this web page that test the app, client, and runner:
                    <a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/conftest.py>
                            https://github.com/PanchV/pv243_Project1/blob/master/tests/conftest.py
                        </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Files Explained</h1>
                </div>
                <div class="col">
                    <ul>
                        <li>docker_flask* <- </li>
                            <ul>
                            <li>.github*</li>
                                <ul>
                                    <li>workflows*</li>
                                    <ul>
                                    <li>dev.yml</li>
                                    <li>heroku_awake_dev.yml</li>
                                    <li>dev.yml</li>
                                    <li>prod.yml</li>
                                    </ul>
                                </ul>
                            <li>app*</li>
                                <ul>
                                    <li>context_processors*</li>
                                    <ul>
                                    <li>__init__.py</li>
                                    </ul>
                                    <li>simple_pages*</li>
                                        <ul>
                                        <li>templates*</li>
                                            <ul>
                                            <li>CI-CD.html</li>
                                            <li>Docker.html</li>
                                            <li>Git.html</li>
                                            <li>index.html</li>
                                            <li>page4.html</li>
                                            <li>Python-Flask.html</li>
                                            </ul>
                                        <li>__init__.py</li>
                                        </ul>
                                    <li>static*</li>
                                        <ul>
                                        <li>css*</li>
                                            <ul>
                                                <li>style.css</li>
                                            </ul>
                                        <li>images*</li>
                                        <li>js*</li>
                                            <ul>
                                                <li>scripts.js</li>
                                            </ul>
                                        </ul>
                                    <li>templates*</li>
                                        <ul>
                                            <li>base.html</li>
                                        </ul>
                                    <li>__init__.py</li>
                                    <li>run.py</li>
                                </ul>
                            <li>tests*</li>
                            <li>docker-compose.yml</li>
                            <li>Dockerfile</li>
                            <li>heroku.yml</li>
                            <li>pytest.ini</li>
                            <li>readme.md</li>
                            <li>setup.py</li>
                            </ul>
                        </ul>
                        * - indicates a directory
                </div>
            </div>
        </div>
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
    </html>
{% endblock %}