{% extends "base.html" %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

            <title>{% block title %}{% endblock %}This is Panch's Website</title>
        {% endblock %}

    </head>
    <body>
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                    <h1>What is Python-Flask?</h1>
                    Python Flask is a web framework. It is a Python module that lets you develop web applications really
                    easily. This means that flask provides you with all of
                    the libraries tools, packages, and software and that are necessary to build a web application. In
                    fact, this web page and whole project were created
                    using Flask! Flask is known as a micro-framework due to the fact that it has very few external
                    libraries and dependencies.
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Testing With PyTest</h1>
                </div>
                <div class="col">
                    When developing with a team of other devops engineers, it is crucial that testing is in place. The
                    absolute worst thing in the devops world to do is to have one bad programmer
                    merge a branch with faulty or broken code with the main branch. What will tend to happen is everyone
                    will continue to make commits and merges after this one faulty branch. Several
                    merges later, surprise surprise, the code no longer works. even worse, they will never know whose
                    bad merge broke the source code. Lots of time and resources will be spent trying
                    to identify the problem. With testing, every single time someone tries to push their branch to the
                    master branch, their branch will have to pass tests that will ensure that the code
                    they've just written won't break the main program. This webpage has mutiple tests that can be found
                    here:
                    <ul>
                        <li><a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/simple_pages_test.py>
                            Testing Simple Pages
                        </a></li>
                        <li><a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/context_process_test.py>
                            Testing Context Processes
                        </a></li>
                        <li><a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/conftest.py>
                            Testing the configuration of the application
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Creating And Testing Simple Pages</h1>
                </div>
                <div class="col">
                    Simple pages is a structure that allows us to maintain all of the pages in a website effectively and
                    effeciently. When first approaching web development,
                    it may seem intuitive to simply create multiple html files that contain all of your content and then
                    have them pull up as the user navigates the web page.
                    However, it is much better practice to have one main base html page that "calls" or points to your
                    other pages. These other pages "extend" on your base.
                    Within your base page, you can have all of teh elements that will be common throughout your site,
                    such as a navigation bar. This is exactly how they are
                    set up on this website. One base.html files calls other html files(Git.html, Docker.html) which all
                    extend on base.html. All of these simple pages are tested
                    with the following:
                    <a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/simple_pages_test.py>
                        https://github.com/PanchV/pv243_Project1/blob/master/tests/simple_pages_test.py
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Link To Project On GitHub</h1>
                </div>
                <div class="col">
                    <a href=https://github.com/PanchV/pv243_Project1.git>
                        https://github.com/PanchV/pv243_Project1
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Link To Flask</h1>
                </div>
                <div class="col">
                    <a href=https://flask.palletsprojects.com/en/2.0.x/>
                        https://flask.palletsprojects.com/en/2.0.x/
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Flask Blueprint Documentation</h1>
                </div>
                <div class="col">
                    <a href=https://github.com/PanchV/pv243_Project1/blob/master/app/simple_pages/__init__.py>
                        https://github.com/PanchV/pv243_Project1/blob/master/app/simple_pages/__init__.py
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Flask Testing with PyTest</h1>
                </div>
                <div class="col">
                    Even though flask is an open source framework that has been tried and tested, it is still important to test it. PyTest has a built in feature known as
                    <i>fixtures</i>. This documentation shows some simple configuration tests that are run for this web page that test the app, client, and runner:
                    <a href=https://github.com/PanchV/pv243_Project1/blob/master/tests/conftest.py>
                            https://github.com/PanchV/pv243_Project1/blob/master/tests/conftest.py
                        </a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col col-md-3 ">
                    <h1>Files Explained</h1>
                </div>
                <div class="col">
                    <ul>
                        <li>docker_flask* <- Project Root Directory </li>
                            <ul>
                            <li>.github* <- Contains yaml files that deploy the project</li>
                                <ul>
                                    <li>workflows* <- Sub-folder that contains yaml files that deploy the project</li>
                                    <ul>
                                    <li>dev.yml <- Development environment deployment to test updates and changes</li>
                                    <li>heroku_awake_dev.yml <- Github action to keep heroku dev application awake, otherwise it would go to sleep if it does not receive any web traffic</li>
                                    <li>heroku_awake_prod.yml <- Github action to keep heroku prod application awake, otherwise it would go to sleep if it does not receive any web traffic</li>
                                    <li>prod.yml <- Production environment deployment to keep a version of the app always running</li>
                                    </ul>
                                </ul>
                            <li>app* <- contains application related files such as the html pages, related style sheets, js scripts, and images</li>
                                <ul>
                                    <li>context_processors* <-Contains utility text initialization file</li>
                                    <ul>
                                    <li>__init__.py <- Initializes utility text at the bottom of the page</li>
                                    </ul>
                                    <li>simple_pages* <-contains individual content pages that are called and Flask blueprint</li>
                                        <ul>
                                        <li>templates* <- Individual content pages that are called</li>
                                            <ul>
                                            <li>CI-CD.html <- Continuous Integration and Continuous Deployment content page</li>
                                            <li>Docker.html <- Docker content page</li>
                                            <li>Git.html <- Git content page</li>
                                            <li>index.html <- Home content page</li>
                                            <li>page4.html <- Blank page from template, not used</li>
                                            <li>Python-Flask.html <- Python Flask content page</li>
                                            </ul>
                                        <li>__init__.py <- Flask blueprint</li>
                                        </ul>
                                    <li>static* <- Holds static elements that are used such as images, style sheet, and scripts</li>
                                        <ul>
                                        <li>css* <- Holds Cascading Style Sheet</li>
                                            <ul>
                                                <li>style.css <- Style sheet used to make more dynamic elements in HTML</li>
                                            </ul>
                                        <li>images* <- holds the logo and other images in image carousel</li>
                                        <li>js* <- holds the javascript file</li>
                                            <ul>
                                                <li>scripts.js <-Scripts to make interactive HTML elements </li>
                                            </ul>
                                        </ul>
                                    <li>templates* <- Holds main HTML file</li>
                                        <ul>
                                            <li>base.html <- Main HTML file that calls other simple pages to display</li>
                                        </ul>
                                    <li>__init__.py <- Creates Flask web application</li>
                                    <li>run.py <- Allows Green Unicorn(Python Web Server Gateway) to serve the app in production</li>
                                </ul>
                            <li>tests* <- contains all the tests for this application</li>
                                <ul>
                                    <li>conftest.py <- Testing the configuration of the application</li>
                                    <li>context_processes_test.py <- Testing Context Processes</li>
                                    <li>simple_pages_test.py <- Testing Simple Pages</li>
                                </ul>
                            <li>docker-compose.yml <- Orchestration file that contains the configuration to develop locally, overrides the Dockerfile to run the flask dev server instead of running the gunicorn server that is used for hosting on Heroku</li>
                            <li>Dockerfile <- File used to create an image to run in a container that runs the program</li>
                            <li>heroku.yml <- Builds the Docker image on Heroku</li>
                            <li>pytest.ini <- initilizes and configues the pytest</li>
                            <li>readme.md <- Generates the html summary seen at the end of a repo, used to convey info about the project</li>
                            <li>setup.py <- Installs necessary dependencies and packages</li>
                            </ul>
                        </ul>
                        * - indicates a directory
                </div>
            </div>
        </div>
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
    </html>
{% endblock %}