<div class="container">

        <div class="container">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/DevOps.png') }}" class="img"
                             alt="...">
                    </div>
                    <div class="carousel-item">
                        <a href = Git>
                        <img src="{{ url_for('static', filename='images/Git.png') }}" class="img" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href = Docker>
                        <img src="{{ url_for('static', filename='images/Docker.jpeg') }}" class="img"
                             alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href = Python-Flask>
                        <img src="{{ url_for('static', filename='images/PythonFlask.jpeg') }}" class="img"
                             alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href = CI-CD>
                        <img src="{{ url_for('static', filename='images/CICD.png') }}" class="img"
                             alt="...">
                        </a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>